:root {
	--popup-background-color: #9e81b1c9; /* Arrière-plan du pop-up */
	--popup-text-color: #F7EFE5; /* Text du pop-up */

	--compteur-border-color: #f7efe5d2; /* Bordure du compteur */
	--compteur-background-color: #715788;  /* Arrière-plan du compteur */
	--compteur-text-color: #F7EFE5; /* Text du compteur */
}

/* Ne prendre pas en compte pour la prod */
section{
	margin: 50px;
}
/* Styles for the pop-ups container  */
.popup-container {
	position: fixed;
	bottom: 83px;
	left: 5px;
	width: 302px;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 1000;
	padding-top: 7px;
	box-sizing: border-box;
	border-radius: 8px;
	/* background: rgb(245, 204, 204); */
	scroll-behavior: smooth; 
}
/* Styles for scroll */
.popup-container::-webkit-scrollbar {
	width: 4px;
	border-radius: 50px; 
	background: #916bac2a; 
}
.popup-container::-webkit-scrollbar-thumb {
	background: #7157885e; 
	border-radius: 50px; 
	transition: background-color 0.8s,  border-radius 0.8s; 
}
.popup-container::-webkit-scrollbar-track {
	background: #e0aeae5e; 
	border-radius: 50px; 
}
.popup-container:hover::-webkit-scrollbar-thumb {
	background: #9b81ade5; 
	border-radius: 50px; 
	transition: background-color 0.8s,  border-radius 0.8s ; 
}
/* Styles for the custom pop-up */
.custom-popup {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	position: relative;
	width: 290px; 
	height: auto; 
	padding: 12px 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	align-items: center;
	transform: scale(0);
	transform-origin: 0% 0%;
	transition: bottom 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
	word-wrap: break-word;
	margin-bottom: 6px;
	box-sizing: border-box;
	background-color: var(--popup-background-color);
	color: var(--popup-text-color);
}
.entete-popup {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
}
.nom-campagne{
	padding-top: 4px;
}
.compteur-popup {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	font-weight: bolder;
	font-size: 12px;
	position: absolute;
	top: -17px;
	right: -17px;
	z-index: 999;
	border-color: var(--compteur-border-color); 
	background-color: var(--compteur-background-color);
	color: var(--compteur-text-color);
}
.custom-popup.show {
	/* display: flex; */
	transform: scale(1);
	opacity: 1;
	animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.cancel-popup-animation {
	animation: none;
}

.entete-popup, .call-animation {
	flex-shrink: 0; 
}
.custom-popup img {
	max-width: 100%; 
	height: auto; 
}
.custom-popup h4 {
	font-family: Verdana, sans-serif !important;
	font-size: 14px !important;
	margin: 0;
	padding: 0;
}
.custom-popup p {
	font-family: Verdana, sans-serif !important;
	font-size: 13px !important;
	margin: 0;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis; 
}

.popup-icon {
	width: 45px !important;
	height: 45px !important;
	display: none;
}
.add-popup-icon{
	display: block;
}


.nom-campagne,
.tel-client {
	width: 200px; 
}
.call-animation {
	display: flex;
   justify-content: center;
   align-items: center;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: #ffffff28;
	animation: pulse-call-animation 2s ease infinite;
}
/* .add-call-animation {
	animation: pulse-call-animation 2s ease infinite;
 } */


@keyframes scale-in-center {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes pulse-call {
	0% {
		transform: scale(1);
	}
	15% {
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
	}
	25% {
		box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4), 0 0 0 4px rgba(255, 255, 255, 0.2);
	}
	50% {
		box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.4), 0 0 0 9px rgba(255, 255, 255, 0.2);
	}
}
/*----------- CONTAINER SIMU D'APPEL -----------------*/
.wrap-notif-appel {
	display: flex;
	z-index: 98;
 justify-content: center;
}

.container-notif {
	position: absolute;
	cursor: pointer;
	z-index: 98;
	top: 50px;
	left: 97%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#call-container {
	display: block;
	z-index: 98;
	position: relative;
	padding: 8px 5px;
	color: white;
	background-color: gray;
	border: 1px solid gray;
	border-radius: 50%;
	font-size: 1.5em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	transition: background-color 0.5s ease;
}
#call-container:hover {
	background-color: red;
}